{% extends 'base.html' %}

{% block content %}
<dt> Посмотреть объект:
<form action="{{ url_for('object_info') }}" method="post">
    <input type="search" name="numb" value="" onload='this.click();' autofocus/>
    <input type="submit" value="Найти" />
  </form>

    <h2>{% block title %} {{object_name}} {{numb}} {% endblock %}</h2>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
{% if category == 'error' %}
<div class="{{ category }}" style="border: 1px solid #FF4343;
    background: #FF9C9C; font-size: 2em;">{{ message }}</div>
        {% elif vector is none %}
<div class="{{ category }}" >{{ message }}</div>
{% elif "LAND" in vector %}
<div class="{{ category }}" style="border: 1px solid #000080;
    background: #657fff; font-size: 2em;"> {{ message }} </div>
{% else %}
<div class="{{ category }}" style="border: 1px solid #2bb930;
    background: #82e285; font-size: 2em;"> {{ message }} </div>

{% endif %}
  {% endfor %}
{% endwith %}

<p>{% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
{% endfor %}</p>

{% endblock %}