{% extends 'base.html' %}

{% block content %}
    <h2>{% block title %} {{parcel_plomb_numb_np}} {% endblock %}</h2>
Кол-во:
<p style="font-size:40px"> {{quont_plombs}}</p>


{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
{% if category == 'error' %}
<div class="{{ category }}" style="border: 1px solid #FF4343;
    background: #FF9C9C; font-size: 2em;">{{ message }}</div>
        {% elif vector is none %}
<div class="{{ category }}" >{{ message }}</div>
{% elif "LAND" in vector %}
<div class="{{ category }}" style="border: 1px solid #000080;
    background: #657fff; font-size: 2em;"> {{ message }} </div>
{% else %}
<div class="{{ category }}" style="border: 1px solid #2bb930;
    background: #82e285; font-size: 2em;"> {{ message }} </div>

{% endif %}
  {% endfor %}
{% endwith %}

    <span class="badge badge-primary"> CEL Logistic </span>
    <p>
    <dt> Пломба/Посылка

<form action="{{ url_for('pallet.create_pallet') }}" method="post">
    <input type="search" name="parcel_plomb_numb_np" value="" required minlength="1" onload='this.click();' autofocus/>
    <input type="submit" value="Search" />
</form>

<dt> Номер паллета
<form action="{{ url_for('pallet.insert_pallet') }}" method="post">
    <input type="search" name="pallet_new" value="{{i}}" size="8" readonly/>
    <input type="submit" value="Сформировать Паллет" />
  </form>
<p>
    <p>
    <p> </p>
    <p> </p>
    <br />
<form action="{{ url_for('pallet.delete_last_plomb') }}" method="post">
    <input type="submit" value="Удалить последнюю запись" />
  </form>
<p> </p>
<form action="{{ url_for('pallet.clean_working_place_pallet') }}" method="post">
    <input type="submit" value="Очистить всю таблицу" />
  </form>
<p> </p>
    <p> {% for table in tables %}
            {{titles[loop.index]}}
            {{ table|safe }}
        {% endfor %} </p>

{% endblock %}